NBren004_Custom_Project.atsln
NBren004_Custom_Project/ATmega16_Interfacing_to_Nokia5110/
NBren004_Custom_Project/Debug/
NBren004_Custom_Project/NBren004_Custom_Project.componentinfo.xml
NBren004_Custom_Project/NBren004_Custom_Project.cproj
